<section class="projet container">
    <div class="col-s-8 col-s-offset-2">
        <h2 class="section__title">Le projet</h2>
    </div>
    <div class="col-s-7 col-s-offset-2">
        <p class="text text--right">Ce projet à été réalisé par équipe de quatre dans le cadre des cours de vidéo, prise de son et montage à l'école des Gobelins.</p>
        <p class="text text--right">La vidéo réalisée doit faire la promotion de notre propre nanar et comporter des extraits du film, un making-of et des interviews. Nous avons suivi le processus de création de film en écrivant la note d'intention, le scénario, la charte sonore et en réalisant une animatique.</p>
    </div>
</section>
