<section class="projet container">
    <div class="col-s-8 col-s-offset-2">
        <h2 class="section__title">Le projet</h2>
    </div>
    <div class="col-s-7 col-s-offset-2">
        <p class="text text--right">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A animi aperiam atque beatae blanditiis culpa deleniti dignissimos dolorem doloribus dolorum eius enim esse est fugiat fugit id illo illum in iste labore magnam natus non nostrum odit perferendis porro possimus provident quae quam quasi quis saepe sequi sunt temporibus, totam voluptas voluptate! Architecto aspernatur atque debitis dolor natus nemo nobis quidem quos repellat tempora? Accusantium at aut beatae cum deleniti, dicta ducimus facere illo libero nam obcaecati quis reprehenderit repudiandae sed, velit. Adipisci doloribus non optio reprehenderit sed. Doloremque facere in laudantium minima molestias perspiciatis possimus sunt ullam! Aliquam, esse?</p>
    </div>
</section>