<section class="projet container">
    <div class="col-s-8 col-s-offset-2">
        <h2 class="section__title">La charte sonore</h2>
        <h3 class="section__subtitle">Pitch</h3>
    </div>
    <div class="col-s-7 col-s-offset-2">
        <p class="text text--right">Depuis sa plus tendre enfance, Christophe a toujours voulu poursuivre le métier
            familial de siffleur de gare. Aujourd'hui, à 28 ans, il exerce fièrement cette profession.<br>
            Adulé par ses pairs, rien ne semblait pouvoir ralentir son ascension au sein de la petite gare de Rumilly,
            jusqu'au jour où, un nouvel employé le devance et siffle le train 7813 Annecy - Paris de 14h53.<br>
            Perdu, Christophe en oubli de vivre. Il n'a plus le goût des belles choses de la vie qui autrefois le
            rendaient heureux. Sa femme ne supporte plus ses lamentations.<br>
            Hanté par cet événement, Christophe ne discerne plus la réalité de ses cauchemars.</p>

        <p class="text text--right">Nous aurons une ambiance qui tend vers le drame, afin d'accentuer le désarroi du
            personnage. Nous ferons aussi attention à inclure des codes du nanar. La charte est découpée en différentes
            couches sonores.</p>

        <h3 class="section__subtitle">Musique</h3>
        <p class="text text--right">La musique de notre film devra évoquer les téléfilms ou séries policières des années
            70-80 afin de se rapprocher un maximum de l’ambiance dramatique que nous souhaitons créer. De plus, la
            musique des téléfilms des années 70-80 se rapproche aisément de la musique des nanars.<br>
            Nous retrouverons une base de musique classique (piano, violons...) et une base de musique de film
            (carillon tubulaire, cuivres...). La musique est découpée en dfférentes parties.
        </p>


        <div class="text text--right">
            <h4 class="section__subtitle--2">Thème</h4>
        </div>
        <p class="text text--right">
            Comme indiqué ci-dessus, la musique adopte les mêmes codes des téléfilms ou séries
            policières des années 70- 80. Le thème reviendra à différents moments de notre teaser et ce sous plusieurs
            formes</p>
        <div class="text text--right">
            <span class="label">Thème principal</span> Celui qui créé l'identité du film<br>
            <span class="label">Thème piano</span> Pendant les interviews<br>
            <span class="label">Thème épique</span> Pendant le climax en fin de vidéo
        </div>
        <p class="text text--right">Le thème participe à l’identité du film, il doit offrir une mélodie facilement
            reconnaissable par le spectateur (cf. thème Inspecteur Derrick).</p>
        <div class="text text--right">
            <span class="label">Inspiration</span> Générique <a class="link"
                                                                href="https://www.youtube.com/watch?v=z2e7oH1F7nI"
                                                                target="_blank"
                                                                title="Voir la vidéo Youtube"> Inspecteur
            Derrick</a><br>
            <span class="label">Style musical</span> Musique de film <br>
            <span class="label">Instruments</span> Piano synthétiseur, violons, maracas, xylophone, trompettes...
        </div>


        <div class="text text--right">
            <h4 class="section__subtitle--2">Introduction</h4>
        </div>
        <p class="text text--right">Le teaser commence par une musique lente afin d’immerger le spectateur dans
            l’atmosphère dramatique du film. Il convient donc d’utiliser une musique au piano, avec des silences qui
            accentueront l’aspect mélancolique.</p>

        <div class="text text--right">
            <h4 class="section__subtitle--2">Climax</h4>
        </div>
        <p class="text text--right">Le final du teaser est une succession de plans. Le public doit ressentir l’angoisse
            du personnage et l’adrénaline qui se dégage des actions. La musique aura pour but d’accentuer ce climax.</p>
        <div class="text text--right">
            <span class="label">Inspiration</span> <a class="link"
                                                      href="https://www.youtube.com/watch?v=n3mDmpCBdzI"
                                                                target="_blank"
                                                                title="Voir la vidéo Youtube">Clint Mansell – Requiem
            for a Dream</a><br>
            <span class="label">Style musical</span> Épique<br>
            <span class="label">Instruments</span> Cuivres, caisse claire, carillon tubulaire, violoncelles...
        </div>



        <h3 class="section__subtitle">Sons</h3>
        <div class="text text--right">
            <h4 class="section__subtitle--2">Bruitages</h4>
        </div>
        <p class="text text--right">Le projet reprend les codes du film d’auteur, il y aura très peu d’effets créés.
            Les principaux bruitages seront “naturels”, c’est à dire enregistrés en post-production ou sur les lieux de
            tournage (casier métallique, trains, sfflet, pas, couverts & assiettes...).</p>

        <div class="text text--right">
            <h4 class="section__subtitle--2">Effets sonores</h4>
        </div>
        <p class="text text--right">Selon les émotions ressenties par le personnage principal (stress, peur, joie...)
            certains effets sonores seront créés afin que le spectateur ressente également ces émotions. Nous aurons
            notament besoin d’une ambiance pesante.</p>
        <div class="text text--right">
            <span class="label">Inspiration</span> <a class="link"
                                                      href="http://www.nanarland.com/video-255-justicier-etagrave-new-york.html"
                                                      target="_blank"
                                                      title="Voir l'exemple">Le Justicier de New York</a><br>
            <span class="label">Style musical</span> Musique de film<br>
            <span class="label">Instruments</span> Violons, synthétiseur, cuivres...
        </div>



        <h3 class="section__subtitle">Dialogues</h3>
        <p class="text text--right">Les dialogues seront directement enregistrés lors du tournage. Certaines voix
            pourront éventuellement être accentuées voir réalisées en post-production (voix de passants, soupris...)</p>



        <h3 class="section__subtitle">Besoins techniques</h3>
        <div class="text text--right">
            <span class="label">Voix</span> Micro cravate & micro canon, Zoom<br>
            <span class="label">Ambiance</span> Micro d'ambiance<br>
            <span class="label">Bruitages/fx</span> Logic Pro<br>
            <span class="label">Musique</span> Logic Pro

        </div>



        <h3 class="section__subtitle">Réalisation</h3>
        <p class="text text--right">Suite à la réalisation de la charte sonore, nous avons commencé à réaliser les
            différentes musiques qui accompagneront notre vidéo.</p>

        <div class="text text--right">
            <div class="audio-player" data-audio="intro.wav">
                            <span class="play-button paused">
                                <div class="play-button__left"></div><div class="play-button__right"></div>
                                <div class="play-button__triangle play-button__triangle--1"></div>
                                <div class="play-button__triangle play-button__triangle--2"></div>
                            </span>
                <span class="audio-player__title">Introduction de la vidéo</span>
            </div>

            <div class="audio-player" data-audio="theme-principal.wav">
                            <span class="play-button paused">
                                <div class="play-button__left"></div><div class="play-button__right"></div>
                                <div class="play-button__triangle play-button__triangle--1"></div>
                                <div class="play-button__triangle play-button__triangle--2"></div>
                            </span>
                <span class="audio-player__title">Thème qui participe à l’identité de notre film</span>
            </div>

            <div class="audio-player" data-audio="theme-piano.wav">
                            <span class="play-button paused">
                                <div class="play-button__left"></div><div class="play-button__right"></div>
                                <div class="play-button__triangle play-button__triangle--1"></div>
                                <div class="play-button__triangle play-button__triangle--2"></div>
                            </span>
                <span class="audio-player__title">Thème version piano lors des interviews</span>
            </div>

            <div class="audio-player" data-audio="theme-epique.wav">
                            <span class="play-button paused">
                                <div class="play-button__left"></div><div class="play-button__right"></div>
                                <div class="play-button__triangle play-button__triangle--1"></div>
                                <div class="play-button__triangle play-button__triangle--2"></div>
                            </span>
                <span class="audio-player__title">Thème version épique lors du climax en fin de vidéo</span>
            </div>

            <div class="audio-player" data-audio="fx_ambiance-pesante.wav">
                        <span class="play-button paused">
                            <div class="play-button__left"></div><div class="play-button__right"></div>
                            <div class="play-button__triangle play-button__triangle--1"></div>
                            <div class="play-button__triangle play-button__triangle--2"></div>
                        </span>
                <span class="audio-player__title">Effet sonore pour créer une ambiance pesante</span>
            </div>
        </div>
    </div>
</section>