<section class="projet container">
    <div class="col-s-8 col-s-offset-2">
        <h2 class="section__title">La charte sonore</h2>
    </div>
    <div class="col-s-7 col-s-offset-2">
        <p class="text text--right">La musique est une bande son rappelant les téléfilms ou séries policières des années 70-80. Base de musique classique (piano, violons...) et musique de film (carillon tubulaire, cuivres…).</p>
        <p class="text text--right">Le thème est une mélodie adoptant les mêmes codes des téléfilms ou séries policières des années 70-80. Il revient à différents moments de notre teaser sous plusieurs formes (thème principal, thème au piano et thème épique pour le final). Il a pour objectif de participer à l’identité du film (cf thème Inspecteur Derrick).</p>
        <p class="text text--right">Le teaser commence par une musique lente afin d’immerger le spectateur dans l’atmosphère du film : le drame. Il convient donc d’utiliser une musique au piano, avec des silences.</p>
        <p class="text text--right">Le final du teaser est une succession de plans. Le public doit ressentir l’angoisse du personnage et l’adrénaline qui se dégage des actions. La musique aura pour but d’accentuer ce climax. Utilisation de cuivres, caisse claire, carillon tubulaire et violoncelles. Le style musical sera épique.</p>
        <p class="text text--right">Le projet reprend les codes du film d’auteur, il y aura très peu d’effets créés. Les principaux sons seront des bruitages dits “naturels” enregistrés en post-production ou sur les lieux de tournage (casier métallique, trains, sifflet, pas, couverts & assiettes...).</p>

        <div class="text text--right">
            <div class="audio-player" data-audio="fx_ambiance-pesante.wav">
                        <span class="play-button paused">
                            <div class="play-button__left"></div><div class="play-button__right"></div>
                            <div class="play-button__triangle play-button__triangle--1"></div>
                            <div class="play-button__triangle play-button__triangle--2"></div>
                        </span>
                <span class="audio-player__title">Effet sonore pour créer une ambiance pesante</span>
            </div>

            <div class="audio-player" data-audio="intro.wav">
                            <span class="play-button paused">
                                <div class="play-button__left"></div><div class="play-button__right"></div>
                                <div class="play-button__triangle play-button__triangle--1"></div>
                                <div class="play-button__triangle play-button__triangle--2"></div>
                            </span>
                <span class="audio-player__title">Introduction de la vidéo</span>
            </div>
        </div>
        <!--
        intro.wav
        theme-epique.wav
        theme-piano.wav
        theme-principal.wav
        -->
    </div>
</section>