<section class="projet container">
    <div class="col-s-8 col-s-offset-2">
        <h2 class="section__title">Le synopsis</h2>
    </div>
    <div class="col-s-7 col-s-offset-2">
        <p class="text text--right">Depuis sa plus tendre enfance, Christophe a toujours voulu poursuivre le métier familial de siffleur de gare. Aujourd’hui, à 28 ans, il exerce fièrement cette profession. Adulé par ses pairs, rien ne semblait pouvoir ralentir son ascencion au sein de la petite gare de Rumilly, jusqu’au jour où, un nouvel employé le devance et siffle le train 7813 Annecy - Paris de 14h53. Perdu, Christophe en oubli de vivre. Il n’a plus le goût des belles choses de la vie qui autrefois le rendaient heureux. Sa femme ne supporte plus ses lamentations. Hanté par cet évènement, Christophe ne discerne plus la réalité de ses cauchemars.</p>
    </div>
</section>