/**************
 *            *
 *   HEADER   *
 *            *
 **************/


.main-header {

    &__titles {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 1;
        width: 100%;

    }

    &__title {
        color: #ffffff;
        top: 25%;
        font-size: 100px;
        font-family: $font--title;
    }

    &__subtitle {
        font-size: 16px;
        text-transform: uppercase;
        padding-top: 5px;
        color: #fff;
        font-family: $lato;
        font-weight: 300;
    }

    &__authors {
        position: absolute;
        z-index: 200;
        font-size: 16px;
        text-transform: uppercase;
        padding-top: 20px;
        padding-left: 20px;
        color: #fff;
        font-family: $lato;
        font-weight: 300;
    }
}


.main-menu {
    display: flex;
    align-items: center;

    &__logo {
        width: 50px;
        height: 50px;
        color: red;
        stroke: currentColor;
    }
}


.main-nav {
    margin-left: auto;

    &__list {
        display: flex;
        margin: 0;
        padding-left: 0;
        list-style: none;
    }

    &__item {

        &--item {}

        &--has-child {}

        &--hamburger {}

        a {
            padding: 10px;
        }
    }
}

.heading-page {

    &__title {}

    &__subtitle {}
}