/**************
 *            *
 *   PLAYER   *
 *            *
 **************/

.audio-player {
    $player-background: $color--lighter;

    $play-button-width: 16px;
    $play-button-height: $play-button-width;
    $play-button-background: $color--medium;
    $play-button-color: $color--lighter;

    $title-color: $color--medium;

    position: relative;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;

    border-radius: 3px;
    background-color: $player-background;
    border: solid 1px $play-button-background;
    font-size: 0;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-color: $play-button-background;
        width: 40px;
        height: 100%;
    }

    &__title {
        display: inline-block;
        width: calc(100% - (#{$play-button-width} + 31px));
        vertical-align: middle;

        font-family: $circular--book-italic;
        font-size: 1.6rem;
        color: $title-color;
        line-height: 2rem;
    }


    .play-button {
        display: inline-block;
        position: relative;
        width: $play-button-width;
        height: $play-button-height;
        margin-right: 30px;
        vertical-align: middle;
        overflow: hidden;

        background-color: $play-button-background;

        &__left {
            height: 100%;
            float: left;
            width: 36%;
            overflow: hidden;

            background-color: $play-button-color;

            transition: width 0.25s ease;
        }

        &__right {
            height: 100%;
            float: right;
            width: 36%;

            background-color: $play-button-color;

            transition: width 0.25s ease;
        }

        &__triangle {
            position: absolute;
            top: 0;
            right: 0;
            width: 0;
            height: 0;

            border-right: $play-button-width solid $play-button-background;
            border-top: $play-button-width/2 solid transparent;
            border-bottom: $play-button-width/2 solid transparent;
            background-color: transparent;

            transition: transform 0.25s ease;

            &--1 {
                transform: translate(0,-100%);
            }

            &--2 {
                transform: translate(0, 100%);
            }
        }
    }

    .paused.play-button {
        .play-button__left {
            width: 50%;
        }

        .play-button__right {
            width: 50%;
        }

        .play-button__triangle {
            &--1 {
                transform: translate(0, -50%);
            }
            &--2 {
                transform: translate(0, 50%);
            }
        }
    }
}

