/******************
 *                *
 *   TYPOGRAPHY   *
 *                *
 ******************/

.text {
    font-family: $font--main;
    color: $color--text;
    font-weight: 300;
    letter-spacing: .01rem;
    font-style: normal;
    font-size: $text-size;
    line-height: 1.58;

    &--left {
        padding-right: 35%;
    }

    &--right {
        padding-left: 35%;
    }
}