/*****************
 *               *
 *   VARIABLES   *
 *               *
 *****************/


$screen--sm-min: 780px;
$screen--md-min: 1000px;
$screen--lg-min: 1200px;


$break--xs-max: 'max-width:' + ($screen--sm-min - 1);

$break--sm-min: 'min-width:' + $screen--sm-min;
$break--sm-max: 'max-width:' + ($screen--md-min - 1);

$break--md-min: 'min-width:' + $screen--md-min;
$break--md-max: 'max-width:' + ($screen--lg-min - 1);

$break--lg-min: 'min-width:' + $screen--lg-min;

/* Basic media-queries usage example :
 *  @media $break--md-min and $break--md-max --> @media (min-width: 992px) and (max-width: 1019px)
 */



$margin--standard: 15px;
$padding--standard: 15px;


/*
/!\ DO NO USE THIS VARS */
$red: red;

// Use this :
$color--main: $red;

$color--extra-light: #ffffff;
$color--lighter: #f6f6ee;
$color--light: #deded6;
$color--medium: #62615d;
$color--dark: #33332d;
$color--darker: #23231d;
$color--extra-dark: #000000;

$color--text: $color--medium;
$color--text-light: #ffffff;

// Fonts

$goku: 'Goku';
$circular--medium: 'Circular Medium';
$circular--bold: 'Circular Bold';
$circular--book: 'Circular Book';
$circular--book-italic: 'Circular Book Italic';
$hanskendrick--light: 'Hanskendrick Light';
$lato: 'Lato';

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,600italic);
@include font-face($goku, '../fonts/goku/goku-webfont');
@include font-face($circular--medium, '../fonts/circular/Circular-Medium');
@include font-face($circular--bold, '../fonts/circular/Circular-Bold');
@include font-face($circular--book, '../fonts/circular/Circular-Book');
@include font-face($circular--book-italic, '../fonts/circular/Circular-BookItalic');
@include font-face($hanskendrick--light, '../fonts/hanskendrick/hanskendrick-light-webfont');

$font--main: $circular--book;
$font--title: $goku;
$line-height--basic: 2.2rem;
$text-size: 18px;


$out-back: cubic-bezier(0.18, 0.89, 0.32, 1.28);
$swift: cubic-bezier(.62,.28,.23,.99);